<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% load static %}
    <script src="{% static 'js/session_keepalive.js' %}"></script>
    <title>Dashboard</title>
</head>
<body>
    <h2>Welcome to the Dashboard</h2>
    <p>Hello, {{ request.user.first_name }} {{ request.user.last_name }}!</p>
    <a href="{% url 'logout' %}">Logout</a>
    <br>
    <div>
        <h2>Actions</h2>
        <ul>
          <li><a href="{% url 'create_truck' %}">Create Truck</a></li>
          <li><a href="{% url 'create_driver' %}">Create Driver</a></li>
          <li><a href="{% url 'create_asset' %}">Create Asset</a></li>
        </ul>
      </div>
{% block content %}
  <h1>Dashboard</h1>
  <h2>Trucks</h2>
  <table>
    <tr>
      <th>License Plate</th>
      <th>Status</th>
      <th>Assigned Driver</th>
      <th>Assigned Asset</th>
      <th>VIN</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Fuel Type</th>
      <th>Mileage</th>
      <th>Fuel Tank Capacity</th>
      <th>Last Trip</th>
      <th>OBDII Fault Codes</th>
      <th>Fuel Level</th>
      <th>Speed</th>
      <th>RPM</th>
      <th>Engine Temperature</th>
      <th>Engine Load</th>
      <th>Live Fuel Usage</th>
      <th>GPS Data</th>
      <th>Lat</th>
      <th>Long</th>
      <th>Profile</th>
    </tr>
    {% for truck in trucks %}
    <tr>
      <td>{{ truck.license_plate }}</td>
      <td>{{ truck.status }}</td>
      <td>{{ truck.driver }}</td>
      <td>{{ truck.asset }}</td>
      <td>{{ truck.vin }}</td>
      <td>{{ truck.year }}</td>
      <td>{{ truck.make }}</td>
      <td>{{ truck.model }}</td>
      <td>{{ truck.fuel_type }}</td>
      <td>{{ truck.mileage }}</td>
      <td>{{ truck.fuel_tank_capacity }}</td>
      <td>{{ truck.last_trip }}</td>
      <td>{{ truck.obdii_fault_codes }}</td>
      <td>{{ truck.fuel_level }}</td>
      <td>{{ truck.speed }}</td>
      <td>{{ truck.rpm }}</td>
      <td>{{ truck.engine_temperature }}</td>
      <td>{{ truck.engine_load }}</td>
      <td>{{ truck.live_fuel_usage }}</td>
      <td>{{ truck.gps_data }}</td>
      <td>{{ truck.latitude }}</td>
      <td>{{ truck.longitude }}</td>
      <td><a href="{% url 'truck_profile' truck.pk %}">Profile</a></td>
    </tr>
    {% endfor %}
  </table>

  <h2>Drivers</h2>
  <table>
    <tr>
      <th>Name</th>
      <th>Assigned truck</th>
      <th>Assigned asset</th>
      <th>License Number</th>
      <th>License Expiry Date</th>
      <th>Phone Number</th>
      <th>Driver Score</th>
      <th>Fuel Usage</th>
      <th>Last Position</th>
      <th>Latest Violation</th>
      <th>Last Trip</th>
      <th>Miles Driven</th>
      <th>Profile</th>
    </tr>
    {% for driver in drivers %}
    <tr>
      <td>{{ driver.name }}</td>
      <td>{{ driver.truck }}</td>
      <td>{{ driver.asset }}</td>
      <td>{{ driver.drivers_license_number }}</td>
      <td>{{ driver.drivers_license_expiration_date }}</td>
      <td>{{ driver.phone_number }}</td>
      <td>{{ driver.driver_score }}</td>
      <td>{{ driver.fuel_usage }}</td>
      <td>{{ driver.last_position }}</td>
      <td>{{ driver.latest_violation }}</td>
      <td>{{ driver.last_trip }}</td>
      <td>{{ driver.miles_driven }}</td>
      <td><a href="{% url 'driver_profile' driver.pk %}">Profile</a></td>
    </tr>
    {% endfor %}
  </table>

  <h2>Assets</h2>
  <table>
    <tr>
      <th>License Plate</th>
      <th>Assigned Driver</th>
      <th>Assigned truck</th>
      <th>VIN</th>
      <th>Year</th>
      <th>Make</th>
      <th>Model</th>
      <th>Max Weight Capacity</th>
      <th>GPS Data</th>
      <th>Length</th>
      <th>Profile</th>
    </tr>
    {% for asset in assets %}
    <tr>
      <td>{{ asset.license_plate }}</td>
      <td>{{ asset.driver }}</td>
      <td>{{ asset.truck }}</td>
      <td>{{ asset.vin }}</td>
      <td>{{ asset.year }}</td>
      <td>{{ asset.make }}</td>
      <td>{{ asset.model }}</td>
      <td>{{ asset.max_weight_capacity }}</td>
      <td>{{ asset.gps_data }}</td>
      <td>{{ asset.length }}</td>
      <td><a href="{% url 'asset_profile' asset.pk %}">Profile</a></td>
    </tr>
    {% endfor %}
  </table>
{% endblock %}
</body>
</html>
